<aside>
    <h1>TABLEAU DE BORD</h1>
    <form>
        <p>Recherche du :</p>
        <div class="inputs">
            <input type="number" name="jour" placeholder="jour" class="jourMois">
            <input type="number" name="mois" placeholder="mois" class="jourMois">
            <input type="number" name="annee" placeholder="annee" class="annee">
        </div>
        <span>au :</span>
        <div class="inputs">
            <input type="number" name="jour" placeholder="jour" class="jourMois">
            <input type="number" name="mois" placeholder="mois" class="jourMois">
            <input type="number" name="annee" placeholder="annee" class="annee">
        </div>
    </form>
    <div class="rechercheRapide">
        <p>Recherche Rapide :</p>
        <div class="btnJourPredefiniRecherche">
            <button>Aujourd'hui</button>
            <button>7 derniers jours</button>
            <button>30 derniers jours</button>
        </div>
    </div>
</aside>