/* BALISES GLOBALES */
body {
  background-color: rgb(219, 208, 192, 0.3);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* CSS GENERAL */

/* Header */
h1 {
  color: #f3a333;
}

header nav ul li a {
  text-decoration: none;
  color: #f3a333;
  font-weight: bold;
}

header nav ul li {
  margin-left: 50px;
}

#logoPrincipal {
  height: 80px;
}

.logoTitrePrincipal i {
  color: #f3a333;
}

header .container nav ul li i {
  color: #f3a333;
  margin-left: 5px;
}

header .container form button {
  background-color: white;
}

.searchNav {
  color: rgb(128, 128, 128, 0.6);
}

header .container nav form button {
  background-color: #f9cf93;
}

header .container nav form {
  height: 30px;
  margin: auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

header .container nav form input {
  outline: none;
}

/*  espace */

#space {
  background-image: linear-gradient(
      to right,
      rgb(0, 0, 0, 0.5),
      rgb(0, 0, 0, 0.5)
    ),
    url(../img/astronaut-cat-wearing-space-suit-elements-image-furnished-nasa-first-trip-to-space-mixed-media-167457935.jpg);
  padding-top: 180px;
  padding-bottom: 180px;
  background-position: center;
  background-size: cover;
}

.btn {
  background-color: #f9e4c8;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  font-weight: 400;
}

#space h2 {
  color: rgb(255, 255, 255);
  letter-spacing: 5px;
}

.btn:hover {
  background-color: rgb(0, 0, 0, 0.2);
  color: white;
  font-weight: bold;
}

/* Menu */

#menu .container ul li {
  border-right: solid rgba(128, 128, 128, 0.4) 0.2px;
  padding-right: 20px;
}

#menu .container ul li a {
  color: #f3a333;
  font-weight: bold;
  letter-spacing: 2px;
}

/* Présentation */

.container #presentation ul li img {
  height: 200px;
  width: 500px;
}
